@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: purple;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

body.dark {
    background-color: #292C35;
    color: #fff;
}


.label {
    background-color: #000;
    display: flex;
    align-items: center;
	justify-content: space-between;
	border-radius: 50px;
	cursor: pointer;
	padding: 5px;
	position: relative;
	height: 50px;
	width: 120px;
}

.btn {
    width: 400px;
    height: 100px;
}

.fa-moon {
    color: #f1c40f;
}

i {
    font-size: 30px;
}

.fa-sun {
    color: #ff0000;
}

.ball {
    background: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translateX(75px);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

p {
    margin-top: 20px;
}