@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@500&family=Red+Hat+Text:wght@700&family=Roboto&display=swap');

:root{
    --grayis-blue: hsl(237, 18%, 59%);
    --soft-red:  hsl(345, 95%, 68%);
    --white:  hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --dark-blue: hsl(235, 16%, 14%);
    --very-dark-blue: hsl(234, 17%, 12%);

}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Red Hat Text', sans-serif;
    background: var(--very-dark-blue) url('./assets/bg-stars.svg');
    color: var(--white);
}

.container {
    max-width: 1440px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.countdown {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
}

.countdown .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown .counter h1 {
    background:  var(--dark-desaturated-blue);
    color: var(--soft-red);
    font-size:4rem;
    padding: 2rem;
}

.countdown .counter p {
    color: var(--grayis-blue);
    margin-top: 10px;
    opacity: 90%;
}

.footer{
    background: url('./assets/pattern-hills.svg');
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    gap: 1rem;
}

.footer a, .lauch h2 {
    color: var(--soft-red);

}

.lauch i {
    font-size: 2.4rem;
}

.lauch h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;    
}

.footer ul i {
    font-size: 1.5rem;
}

.lauch {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}