@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --primary-color:  #1a1aff;
    --secondary-color:  #2c02c2;
}


.d-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #111;
}

i {
    color: #fff;
    font-size: 2rem;
}
.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.container {
    max-width: 1440px;
    margin: 30px auto;
    
}

.header .header-container{
    max-width: 1300px;
    margin-inline: auto;
}

.header .navbar {   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar .logo {
    color: var(--primary-color);
    font-size: 1.7rem;
}

.header .navbar .nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .navbar .nav li a{
    color: #fff;
}

.header .navbar .search {
    background: transparent;
    width: 20rem;
    height: 2.5rem;
    padding-left: 2.5rem;
    font-size: 1rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
}



.header .navbar .search.hidden {
  display: none;
}

.header .navbar .search:focus{
    outline:0;
    background: var(--primary-color);
}

.header .navbar .search::placeholder {
    color: #7378c5;
}

.main {
    margin-top:8px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.movie {
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.2);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    letter-spacing: .5px;
}

.movie .info span {
    background: var(--primary-color);
    padding: .25rem  .5rem;
    border-radius: 5px;
    font-weight: bold;
}

.movie .info span.green {
    color: lightgreen;
}

.movie .info span.orange {
    color: orange;
}

.movie .info span.red {
    color: red;
}

.movie img {
    width: 100%;
}

.movie .overview {
    max-height: 100%;
    background: #111;
    padding: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateX(0);
}




